.name{
    color: rgb(22, 22, 153);
}
.feedBody{
    display: flex;
    border-bottom: 1px solid rgba(194, 194, 194, 0.568);
    margin: 5px 10px 18px 0px ;
    padding: 0px 10px 30px 20px;
}
.feedBody img{
    margin-right: 40px;
    margin-top: 18px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid rgb(3, 3, 77);
}
h6 {
    color: rgb(196, 196, 196);
}
.buttonClass{
    background-color: rgb(197, 197, 197);
    width: 150px;
    height: 30px;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 5px;
    cursor: pointer;
}
